<ul class="nav__wrapper">

  <li class="nav__item" routerLink="/planet" routerLinkActive="nav__item--active">
    <a routerLink="/planet">
      <i class="nav__icon fa fa-globe"></i> Planets
    </a>
  </li>
  <li class="nav__item" routerLink="/species" routerLinkActive="nav__item--active">
    <a routerLink="/species">
      <i class="nav__icon fa fa-paw"></i> Species
    </a>
  </li>
  <li class="nav__item" routerLink="/people" routerLinkActive="nav__item--active">
    <a routerLink="/people">
      <i class="nav__icon fa fa-users"></i> Registered People
    </a>
  </li>
  
</ul>
